.App {
  background-color: #ffffff;
  padding-bottom: 25px;
}

a {
  text-decoration: none;
  color: #707070;
}

/* Nav */
.nav {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  border-right: 1px solid rgba(152, 152, 152, 0.1);
  background-color: #f7f8fa;
  text-align: center;
  z-index: 1000;
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  height: 350px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid rgba(152, 152, 152, 0.1);
  background-color: #f7f8fa;
}

.logo {
  width: 80px;
  margin-top: 80px;
}

.name {
  margin-top: 0px;
  font-size: 20px;
  color: #25292e;
  font-weight: 700;
}

.title {
  margin-top: -18px;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
}

.divider {
  margin-top: -10px;
  width: 200px;
  border-width: 0.5px;
  border-color: rgba(152, 152, 152, 0.3);
}

/* Sections */
.section {
  height: auto;
  width: auto;
  margin-left: 250px;
  margin-top: 5px;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 25px;
  /* padding-bottom: 25px; */
}

.section-title {
  font-size: 30px;
  font-weight: 500;
  color: #25292e;
}

.section-subtitle {
  margin-top: -25px;
  margin-bottom: 25px;
  color: #707070;
}

/* Mobile */
@media only screen and (max-width: 700px) {
  .nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .logo {
    margin-top: 25px;
  }

  .section {
    margin-left: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .first-section {
    margin-top: 350px;
  }
}
