@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: #707070;
}

.nav {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  border-right: 1px solid rgba(152, 152, 152, 0.1);
  background-color: rgba(253, 254, 253);
  text-align: center;
  z-index: 1000;
}

.logo {
  width: 80px;
  margin-top: 80px;
}

.name {
  margin-top: 0px;
  font-size: 20px;
  color: #707070;
  font-weight: 700;
}

.title {
  margin-top: -18px;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
}

.divider {
  margin-top: -10px;
  width: 200px;
  border-width: 0.5px;
  border-color: rgba(152, 152, 152, 0.3);
}

.link-container {
  margin: 0 auto;
  width: 200px;
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
}

.link-container i {
  margin-right: 5px;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-linkedin-in {
  color: #2867B2;
}

.button-container {
  margin: 0 auto;
  width: 200px;
  margin-top: 25px;
  text-align: left;
  font-size: 15px;
}

.button {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: #F5F7F3;
  border: 1px solid #CDCFD1;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}


.section {
  height: auto;
  width: auto;
  margin-left: 250px;
  margin-top: 5px;
  padding-top: 25px;
  padding-left: 50px;
  padding-bottom: 25px;
}

.section-title {
  font-size: 30px;
  font-weight: 500;
  color: #707070;
}


.section-subtitle {
  margin-top: -25px;
  margin-bottom: 25px;
  color: #707070;
}

/*  */
.card {
  display: inline-block;
  height: 500px;
  width: 350px;
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

.card .hover {
  opacity: 0;
}

.card:hover .default {
  opacity: 0;
  transition: 1s;
}

.card:hover .hover {
  opacity: 1;
  transition: 1s;
}

/* The fast way */
.make-it-fast {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Pre-render the bigger shadow, but hide it */
.make-it-fast::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


/* Transition to showing the bigger shadow on hover */
.make-it-fast:hover::after {
  opacity: 1;
}

/* Scale up the box */
.card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3)
}

/* Fade in the pseudo-element with the bigger shadow */
.card:hover::after {
  opacity: 1;
}

.workLogo {
  height: 90px;
  width: 90px;
  margin-top: 170px;
}


.hover {
  position: absolute;
  top: 0;
  padding-left: 25px;
  padding-right: 25px;
  height: 100%;
}

.job-title {
  color: #FFF;
  font-size: 15px;
}

.job-date {
  margin-top: -25px;
  color: #FFF;
  font-size: 12px;
}

.job-description {
  color: #EEE;
  font-size: 15px;
}

.job-link {
  left: 0;
  right: 0;
  position: absolute;
  color: #FFF;
  font-size: 15px;
  bottom: 25px;
}
