@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: #707070;
}

/* Nav Sidebar styling + contents of it */
.Nav {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  border-right: 1px solid rgba(152, 152, 152, 0.1);
  background-color: rgba(253, 254, 253);
  text-align: center;
}

.logo {
  width: 80px;
  margin-top: 80px;
}

.name {
  margin-top: 0px;
  font-size: 20px;
  color: #707070;
  font-weight: 700;
}

.title {
  margin-top: -18px;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
}

.divider {
  margin-top: -15px;
  width: 200px;
  border-width: 0.5px;
  border-color: rgba(152, 152, 152, 0.3);
}

.link-container {
  margin: 0 auto;
  width: 200px;
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
}

.link-container i {
  margin-right: 5px;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-linkedin-in {
  color: #2867B2;
}

.button-container {
  margin: 0 auto;
  width: 200px;
  margin-top: 25px;
  text-align: left;
  font-size: 15px;
}

.button {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: #F5F7F3;
  border: 1px solid #CDCFD1;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}


/* Projects styling */
