@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans';
}
